body {
    background: url("../b8.png") repeat-y;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:100%;
	}


.button
            {
            border: none;
            }