body {
	padding: 0%;
    background: url("../b8.png") repeat-y;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:100%;

	}
.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:85px;
}

.player2{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

button
{
    background-image: url("../button.png");
    cursor:pointer;
    border: thin;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}